.mapSearch{
    margin: 0 auto;
}

input{
    height: 30px;
    width: 200px;
    margin: 20px auto;
}

.btnSearch{
    height: 36px;
}

/***********   option  ************/
.filter-locations{
    position: relative;
    margin: 0 auto;
}

h2{
    text-align: center;
}

.map-option{
    margin: 20px 0;
    margin: 0 atuo;
    text-align: center;
}

select{
    padding: 0 5px;
    position: relative;
    height: 30px;
    width: 180px;
    margin: 0 auto;
}

option{
    padding: 5px;
}

.filter-locations-results{
    margin: 20px 0;
}

.locations{
    list-style: none;
    margin: 0 auto;
    line-height: 30px;
    font-size: 14px;
}